.sideBox {
    border-radius: 5px;
    background: linear-gradient(to right, #1727af, #ce0b56);
    padding: 20px;
    width: 100%;
}

.sideBox__container {
    margin-top: 40px;
}

.sideBox__header {
    padding: 0px;
    margin: 0px;
    color: #FFF;
}

.sideBox__text {
    padding: 0px;
    margin-top: 5px;
    font-size: 12px;
    color: #FFF;
    opacity: 0.7;
}